<%= form_tag("/timezone", method: "post") do %>
  <label for="timezone">Select a Timezone:</label>
  <%= select_tag(:timezone_str, options_for_select([
    ["Pacific Time (US & Canada)", "Pacific Time (US & Canada)"],
    ["Mountain Time (US & Canada)", "Mountain Time (US & Canada)"],
    ["Central Time (US & Canada)", "Central Time (US & Canada)"],
    ["Eastern Time (US & Canada)", "Eastern Time (US & Canada)"]
  ])) %>
  <%= submit_tag("Confirm") %>
<% end %>
