<div class="container">
  <div class="page-header">
    <h1>Dev Bootcamp Phase 0</h1>
  </div>

  <ul class="challenges-list">
    <% if @challenges != nil %>
      <% @challenges.each do |challenge| %>
        <li class="challenge">
          <a href="/challenges/<%=challenge.id%>/timeslots"><%= challenge.name %></a>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
