/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'navbar-fixed-side';
@import 'timeslots';
@import 'dashboard';
@import 'authentication';
@import 'challenges';

$break-small: 767px;

// * { outline: 1px solid red }

.navbar-header .logo {
/*  height: 50px;*/
  margin-top: 30px;
  margin-bottom: 30px;

  display: block;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: $break-small) {
    display: none;
  }
}

.nav-link {
  text-align: center;
  @media screen and (max-width: $break-small) {
    text-align: left;
  }
}

.navbar-header #brand {
  display: none;
  font-family: 'Josefin Slab', serif;
  font-size: 2em;
  margin-left: 1.25em;
  @media screen and (max-width: $break-small) {
    display: unset;
  }
}

.nav-form{
  padding-top: 3em;
  // outline: 2px solid blue;
}

.nav-form label {
  margin-left: 13px;
}

.nav-form div {
  padding-left: 13px;
  padding-right: 13px;
}

#timezone-form div > * {
  float: left;
}
