// Place all the styles related to the authentication controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');

.hidden {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 360px;
}

#landing-logo {
  text-align: center;
  width: 500px;
  font-family: 'Josefin Slab', serif;
  font-size: 5em;
  i {
    width: 195px;
  }
}

#login-button {
  width: 100px;
}
